<%- include("header") -%>
<%- include("navbar") -%>

<section>
    <div>
        <h1>Protected Page</h1>
        <div>Hi <%= user.given_name %> <%= user.family_name %>!</div>
    </div>
</section>

<%- include("footer") -%>